body {
.listdiv {
    border: 4px solid #F7C4A5;
    width: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 0;
    h3 {
      padding: 10px;
      width: 100%;
    }
  }
  .parked{
    padding: 10px;
    list-style: none;
    font-size: 22px;
    margin: 20px;
    color: black;
    font-weight: bolder;
    border: 2px solid grey;
  }
}
